<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValorantServlet</servlet-name>
        <servlet-class>Servlet.ValorantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MlbbServlet</servlet-name>
        <servlet-class>Servlet.MlbbServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubgmServlet</servlet-name>
        <servlet-class>Servlet.PubgmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenshinServlet</servlet-name>
        <servlet-class>Servlet.GenshinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessServlet</servlet-name>
        <servlet-class>Servlet.SuccessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValorantServlet</servlet-name>
        <url-pattern>/valorant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MlbbServlet</servlet-name>
        <url-pattern>/mlbb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubgmServlet</servlet-name>
        <url-pattern>/pubgm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenshinServlet</servlet-name>
        <url-pattern>/genshin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessServlet</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
